"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e9a8a2f2-4831-4474-8c5d-d5470bde6299"
  autoprefixer: {},
  core:
    disabledPackages: [
      "imdone-atom"
      "atom-typescript"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "d2c8ebcb-8aef-4777-a9c1-236b051769ba"
  linter:
    showErrorPanel: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1486832288
  welcome:
    showOnStartup: false
